<h2> <%= comic.title %>  </h2>
<div>
    Genre: <%= comic.genre %>
</div>
<div>
    Date publish : <%= comic.datePublished%>
</div>
<div>
    No Episodes: <%= comic.noEpisodes %>
</div>
<div>
    Description: <%= comic.description %>
</div>
<div>
    Completed: <%= comic.completed %>
</div>

<textarea name="review"></textarea>
<button type="submit">Add A Review</button>

<!-- DISPLAY ALL REVIEWS BELOW-->