<h1>Comic</h1>

<table class="tableStriped">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Author</th>
        <th>Date Published</th>
        <th>No Episodes</th>
        <th>Completed</th>
        <th>image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

<% comics.forEach(function(comic){ %> 
    <tr>
        <td><%= comic.title%></td>
        <td><%= comic.genre %></td>
        <td><%= comic.user.name %></td>
        <td><%= comic.datePublished %></td>
        <td><%= comic.noEpisodes %></td>
        <td><%= comic.completed %></td>
<<<<<<< HEAD
        <td><a href="/comic/edit?id=<%= comic._id %>"><button>Edit</button></a></td>
        <td><a href="/comic/delete?id=<%= comic._id %>"><button>Delete</button></a></td>
=======
        <td> <img src="uploads/<%=comic.image%>" width="250" height="220px"></td>
        <td><a href="/comic/edit?id=<%= comic._id %>">Edit</a></td>
        <td><a href="/comic/delete?id=<%= comic._id %>">Delete</a></td>
>>>>>>> 8fdc619bb906a0c782de260ebd5d48108a520eac
    </tr>
<% }) %>
</table>
<br>
<br>
<br>
<a href="add"><button>Add Comic</button></a>

