<h1>Comic</h1>

<table class="tableStriped">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Author</th>
        <th>Date Published</th>
        <th>No Episodes</th>
        <th>Completed</th>
        <th>image</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

<% comics.forEach(function(comic){ %> 
    <tr>
        <td><%= comic.title%></td>
        <td><%= comic.genre %></td>
        <td><%= comic.user.name %></td>
        <td><%= comic.datePublished %></td>
        <td><%= comic.noEpisodes %></td>
        <td><%= comic.completed %></td>
        <td> <img src="/public/uploads/<%= comic.image %>" width="250" height="220px"></td>
        <td><a href="/comic/edit?id=<%= comic._id %>">Edit</a></td>
        <td><a href="/comic/delete?id=<%= comic._id %>">Delete</a></td>
    </tr>
<% }) %>
</table>
<br>
<br>
<br>
<a href="add"><button>Add Comic</button></a>

